<div class="row">
  <div class="span3">
    <%= render "shared/sidebar" %>
  </div>
  <div class="span9">
    <h1>Rents#index</h1>
    <p>Find me in app/views/rents/index.html.erb</p>
  </div>
</div>
