<div class="container" style="margin-top:10px">
  <div class="alert alert-<%= type %>">
    <span class="close" data-dismiss="alert">×</span>
    <b><%= type.capitalize %>!</b> <br /> <%= message.html_safe %>
  </div>
</div>