<div class="affix">
  <h1><i class="icon-book"></i> Books</h1>
  <ul class="nav nav-list">
    <li class="active"><%= link_to 'Books', books_path %></li>
    <li><%= link_to 'Rents', "#" %></li>
    <li><%= link_to 'Logout', "#" %></li>
  </ul>
</div>