<h1>Books is available</h1>

<div id="books" class="row">
  <% if @books.present? %>
    <% @books.each do |book| %>
    <div class="span3">
      <figure>
        <%= image_tag book.image, :class => "img-polaroid" %> 
        <!-- <figcaption><%= book.title %> <%= link_to "get", "#", :class =>"btn btn-mini" %></figcaption> -->
      </figure>
    </div>
    <% end %>
  <% else %>
    <p class="alert"><b>Atention!</b> record not found.</p>
  <% end %>
</div>