// Place all the styles related to the rents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#rent_student_id_input {
  float:left;
}

#rents {
  table {
    background:#fff;
    td,th {
      cursor:default;
      vertical-align:middle;
      a {
        color:#000;
        cursor:pointer;
      }
      &.center{
        text-align:center;
      }
    }
  }
}